<!DOCTYPE html>
<html>
<head>
    <title>Mapa com Folium e Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
</head>
<body>
    <h1>Pontos no Mapa</h1>
    <section>
        <div class="filter-container">
            <form action="/" method="get" id="filter-form">
                <div>
                    <label for="cidade-select">Filtro por Cidade:</label>
                    <select name="cidade" id="cidade-select" onchange="document.getElementById('filter-form').submit()">
                        <option value="Todas" {% if cidade_selecionada == 'Todas' %}selected{% endif %}>Todas as Cidades</option>
                        {% for cidade in cidades %}
                        <option value="{{ cidade }}" {% if cidade == cidade_selecionada %}selected{% endif %}>{{ cidade }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div>
                    <label for="porte-select">Filtro por Porte:</label>
                    <select name="porte" id="porte-select" onchange="document.getElementById('filter-form').submit()">
                        <option value="Todas" {% if porte_selecionado == 'Todas' %}selected{% endif %}>Todos os Portes</option>
                        {% for porte in portes %}
                        <option value="{{ porte }}" {% if porte == porte_selecionado %}selected{% endif %}>{{ porte }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="heat_or_not">Visualizar Mapa de Calor: </label>
                  
                    <input type="checkbox" name="hot_map" value=True {% if heat_map %}checked{% endif %} onchange="document.getElementById('filter-form').submit()">
                
                </div>
                
                <noscript><button type="submit">Aplicar Filtros</button></noscript> 
            </form>
        </div>
        <div id="mapa">{{ mapa|safe }}</div>


        <div>
            <form>
                <input placeholder="confia">prompt para llm</input>
            </form>
        </div>
    </section>
</body>
</html>